
@{
    ViewBag.Title = "FollowUp";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<style>
    .makespace {
        margin-bottom: 20px;
    }

    .icheckbox_minimal-blue {
        top: 10px;
    }
</style>

<section class="wrapper main-wrapper row" style=''>

    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <!-- PAGE HEADING TAG - START --><h1 class="title">FollowUp</h1><!-- PAGE HEADING TAG - END -->
            </div>

            @*<div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>Home</a>
                        </li>

                        <li class="active">
                            <strong>CRM Admin</strong>
                        </li>
                    </ol>
                </div>*@

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->

    <form method="post">
        <!-- LEAD INFORMATION STARTS -->
        <div class="col-xs-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Lead Information</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        @*<a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>*@
                    </div>
                    <input type="hidden" value="" id="txtLeadID" />
                    <input type="hidden" value="" id="txtProspectID" />
                </header>
                <div class="content-body">
                    <div class="row">
                        @*<div class="col-md-12 col-sm-10 col-xs-12">

                            </div>*@
                        <div class="col-md-6">
                            <label class="form-label">Lead ID</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-info"></i>
                                </span>
                                @Html.DropDownList("ddlLeadId", new SelectList((IEnumerable<SelectListItem>)ViewBag.LeadId, "Value", "Text", "0"), new { @class = "form-control m-bot15", @id = "ddlLeadId" })
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Lead Date</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control datepicker" id="txtLeadDate" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <!-- ROW AREA ENDS -->
                    </div>
                </div>
            </section>
        </div>
        <!-- LEAD INFORMATION ENDDS -->

        <!-- CUSTOMER INFORMATION STARTS -->
        <div class="col-xs-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Customer Information</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        @*<a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>*@
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                       
                        <div class="col-md-6">
                            <label class="form-label">Name*</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" required class="form-control" id="txtCustName" maxlength="100" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Email*</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" id="txtCustEmail" required maxlength="100" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Cell No.*</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="tel" required class="form-control" id="txtCustCellNo" maxlength="12" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Company</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-building"></i>
                                </span>
                                <input type="text" class="form-control" id="txtCompany" maxlength="50" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Office No.</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="tel" class="form-control" id="txtOfficeNo" maxlength="12" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">EXT</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" id="txtOfficeNoExt" maxlength="5" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Lead Type</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                @Html.DropDownList("ddlLeadType", new SelectList((IEnumerable<SelectListItem>)ViewBag.LeadType, "Value", "Text", "0"), new { @class = "form-control m-bot15", @id = "ddlLeadType" , @disabled="disabled" })
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Subject</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clipboard"></i></span>
                                <input type="text" class="form-control" id="txtSubject" readonly>
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <!-- ROW AREA ENDS -->
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="productDetail">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Brand Code</th>
                                            <th>Product Code</th>
                                            <th>Description</th>
                                            <th>Color</th>
                                            <th>Priority</th>
                                            <th>Quantity</th>
                                            <th>Further Contact</th>
                                            <th>Further Date</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>   
                    </div>
                   
                </div>
            </section>
        </div>
        <!-- CUSTOMER INFORMATION ENDS -->

        <!-- PRODUCT INFORMATION STARTS -->
        <div class="col-xs-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Countermeasure Detail</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        @*<a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>*@
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        @*<div class="col-md-12 col-sm-10 col-xs-12">

                            </div>*@
                        <div class="col-md-3">
                            <label class="form-label">Next Action</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                @Html.DropDownList("ddlFurtherContact", new SelectList((IEnumerable<SelectListItem>)ViewBag.FurtherContact, "Value", "Text", "0"), new { @class = "form-control m-bot15", @id = "ddlFurtherContact" })
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Status</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                @Html.DropDownList("ddlStatusType", new SelectList((IEnumerable<SelectListItem>)ViewBag.StatusType, "Value", "Text", "0"), new { @class = "form-control m-bot15", @id = "ddlStatusType" })
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Followup Date</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control datepicker" id="txtFurtherDate" readonly>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Followup Time</label>
                            <div class="input-group control">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <input type="text" class="form-control timepicker" id="txtFurtherTime"
                                        data-template="dropdown" data-show-seconds="true" data-default-time="09:45 AM" 
                                        data-show-meridian="true" data-minute-step="5" readonly>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <label class="form-label">Comments</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-comments"></i>
                                </span>
                                <input type="text" class="form-control" id="txtComments">
                            </div>
                            <div class="makespace"></div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group" style="width:100%;">
                                <button class="btn btn-success btn-sm" id="btnAddData" type="button" style="margin-top: 28px;width: 100%;padding: 8px;" onclick="AddProduct(this)">
                                    <i class="fa fa-plus fa-2x"></i>
                                </button>
                            </div>
                        </div>

                        <!-- ROW AREA ENDS -->
                    </div>

                    <div id="LostArea" style="display:none;">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <label class="form-label">Lost Reason</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                    @Html.DropDownList("ddlLostReason", new SelectList((IEnumerable<SelectListItem>)ViewBag.LostReason, "Value", "Text", "0"), new { @class = "form-control m-bot15", @id = "ddlLostReason" })
                                </div>
                                <div class="makespace"></div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Lost Date</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control datepicker" id="txtLostDate" readonly>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Comments</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-comments"></i>
                                    </span>
                                    <input type="text" class="form-control" id="txtLostComments">
                                </div>
                                <div class="makespace"></div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="followupDetail">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Next Action</th>
                                            <th>Status</th>
                                            <th>Followup Date</th>
                                            <th>Followup Time</th>
                                            <th>Comments</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="fixedRow1" data-tr-count="0">
                                            @*<td>1</td>
                            <td>Suzuki</td>
                            <td>Mehran</td>
                            <td>Sedan</td>
                            <td>White</td>
                            <td>High</td>
                            <td>2</td>
                            <td>Call</td>
                            <td>09-Feb-2018</td>
                            <td style="text-align:center;"><button class="btn btn-danger btn-xs"><i class="fa fa-minus fa-lg"></i></button></td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </section>
        </div>
        <!-- PRODUCT INFORMATION ENDS -->

        <div class="col-xs-12">
            <section class="box ">
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <button type="reset" class="btn btn-default" id="btnCancel" style="margin-top:25px;">Cancel</button>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" id="btnSave" style="margin-top:25px;" onclick='$("#section-confirm").modal("show")'>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
    <!-- Popup box modal start -->
    <div class="modal" id="section-confirm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog animated bounceInDown">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                    <h5>Are you sure want to save ?</h5>

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-success" type="button" onclick="SaveForm()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
    <!-- Popup box modal start -->
    <div class="modal" id="section-message" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog animated bounceInDown">
            <div class="modal-content">
                <div class="modal-header" id="modalMessage">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="lblTitle"></h4>
                </div>
                <div class="modal-body">

                    <h5 id="lblMessage"></h5>

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" onclick="location.reload();">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script src='@Url.Content("~/assets/js/jquery-1.11.2.min.js")' type="text/javascript"></script>
<script>

    $(document).ready(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        today = mm + '/' + dd + '/' + yyyy;
        $("#txtFurtherDate").val(today);
    })

    $("#ddlStatusType").change(function () {
        
        var status = $("#ddlStatusType").val();

        if(status == "3")
        {
            $("#LostArea").show();
        }
        else
        {
            $("#LostArea").hide();
        }

    })

    var rowCount = 1;
    var dataCount = 1;
    var SNo = 1;
    function AddProduct(value) {
        var check = ValidateFollowUpDetails();
        if (check == true) {
            var nextAction = $("#ddlFurtherContact :selected").text(); $("#ddlFurtherContact").css("border-color", "#ccc");
            var statusType = $("#ddlStatusType :selected").text(); $("#ddlStatusType").css("border-color", "#ccc");
            var statusTypeId = $("#ddlStatusType").val();
            var nextDate = $("#txtFurtherDate").val(); $("#txtFurtherDate").css("border-color", "#ccc");
            var nextTime = $("#txtFurtherTime").val(); $("#txtFurtherTime").css("border-color", "#ccc")
            var comments = $("#txtComments").val(); $("#txtComments").css("border-color", "#ccc");

            var row = $(value).parent().parent().html();
            var dt = $("#followupDetail tbody").append('<tr id="fixedRow' + (rowCount++) + '" data-tr-count="' + (dataCount++) + '">' +
                                                        '<td>' + SNo++ + '</td>' +
                                                        '<td> <label id="lblNextAction">' + nextAction + ' </label></td>' +
                                                        '<td> <label id="lblStatusType">' + statusType + ' </label> <input type="hidden" id="hdnStatusId" value="' + statusTypeId + '" /> </td>' +
                                                        '<td> <label id="lblNextDate">' + nextDate + ' </label></td>' +
                                                        '<td> <label id="lblNextTime">' + nextTime + ' </label></td>' +
                                                        '<td> <label id="lblComments">' + comments + ' </label></td>' +
                                                        '<td style="text-align:center;"><button class="btn btn-danger btn-xs" onclick="removeRow(this)"><i class="fa fa-minus fa-lg"></i></button></td>' +
                                                        '</tr>');

        }
        else {

        }
    }

    function removeRow(value) {
        var tempRow = "fixedRow" + (parseInt($(value).parent().parent().attr("data-tr-count")) - 1);

        $("#" + tempRow).find('.remove').show();
        $(value).parent().parent().remove();

        dataCount--;
        rowCount--;
        SNo--;
    }

    function ValidateFollowUpDetails() {
        var check = false;
        var leadId = $("#ddlLeadId").val();
        var furhterContact = $("#ddlFurtherContact").val();
        var statusType = $("#ddlStatusType").val();
        var furtherDate = $("#txtFurtherDate").val();
        var furhterTime = $("#txtFurtherTime").val();
        var comments = $("#txtComments").val();
        var lostReason = $("#ddlLostReason").val();
        var lostDate = $("#txtLostDate").val();
        var lostComments = $("#txtLostComments").val();
        
        if (leadId == "0")
        {
            $("#ddlLeadId").css("border-color", "red");
            $('html, body').animate({
                scrollTop: $("#ddlLeadId").scrollTop(500)
            }, 800);
            return check;
        }
        else {
            $("#ddlLeadId").css("border-color", "#ccc");
        }


        if (furhterContact == "0") {
            $("#ddlFurtherContact").css("border-color", "red");
            return check;
        }
        else {
            $("#ddlFurtherContact").css("border-color", "#ccc");
        }

        if (statusType == "0") {
            $("#ddlStatusType").css("border-color", "red");
            return check;
        } else {
            $("#ddlStatusType").css("border-color", "#ccc");
        }

        if (furtherDate == "" || furtherDate == undefined) {
            $("#txtFurtherDate").css("border-color", "red");
            return check;
        } else {
            $("#txtFurtherDate").css("border-color", "#ccc");
        }

        if (furhterTime == "" || furtherDate == undefined) {
            $("#txtFurtherTime").css("border-color", "red");
            return check;
        } else {
            $("#txtFurtherTime").css("border-color", "#ccc")
        }

        if (comments == "" || comments == undefined) {
            $("#txtComments").css("border-color", "red");
            return check;
        } else {
            $("#txtComments").css("border-color", "#ccc")
        }

        if (statusType == "3")
        {
            if (lostReason == "0") {
                $("#ddlLostReason").css("border-color", "red");
                return check;
            }
            else {
                $("#ddlLostReason").css("border-color", "#ccc");
            }

            if (lostDate == "" || lostDate == undefined) {
                $("#txtLostDate").css("border-color", "red");
                return check;
            } else {
                $("#txtLostDate").css("border-color", "#ccc");
            }

            if (lostComments == "" || lostComments == undefined) {
                $("#txtLostComments").css("border-color", "red");
                return check;
            } else {
                $("#txtLostComments").css("border-color", "#ccc");
            }
        }

        check = true;
        return check;
    }

    $("#ddlLeadId").change(function () {
        var leadId = $("#ddlLeadId").val();
        if (leadId == "0") {
            location.reload();
        }
        else {
            getDate(leadId);
        }

    });

    function insertRecord() {
        var obj = [];
        var leadId = $("#ddlLeadId").val();
        var IsLostEnq = false;
        var status = $("#ddlStatusType").val();

        (status == "3") ? IsLostEnq = true : IsLostEnq = false;

        $("#followupDetail tbody tr").each(function () {
            
            var dto = {};
            
            dto.EnquiryID = leadId; // Need to add this in View Model
            dto.DealerCode = "00166";
            dto.IsLostEnq = IsLostEnq;
            dto.LostReasonId = $("#ddlLostReason").val();
            dto.LostDate = $("#txtLostDate").val();
            dto.NextFollowUpDate = $(this).closest('tr').find('#lblNextDate').text().trim();
            dto.NextFollowUpTime = $(this).closest('tr').find('#lblNextTime').text().trim();
            dto.NextFollowUpActionPlan = $(this).closest('tr').find('#lblNextAction').text().trim();
            dto.NextFollowUpPurpose = $(this).closest('tr').find('#lblComments').text().trim();
            dto.StatusTypeId = $(this).closest('tr').find('#hdnStatusId').val();
            obj.push(dto);
        });

        return obj;
    }

    function SaveForm()
    {
        var check = ValidateFollowUpDetails();

        if (check == true) {
            debugger;

            var objects = [];

            objects = JSON.stringify({ 'objects': insertRecord() });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Content("~/Enquiry/Insert_FollowupDetail")',
                data: objects,
                //async: true,
                //cache: false,
                //crossDomain: true,
                success: function (data) {
                    if (data) {
                        if (data.Success == true) {
                            $("#section-confirm").modal("hide")
                            $("#modalMessage").css("background-color", "#64c344");
                            $("#lblTitle").text("Success");
                            $("#lblMessage").text(data.Message)
                            $("#section-message").modal('show');
                        }
                        else {
                            $("#section-confirm").modal("hide")
                            $("#modalMessage").css("background-color", "#e46457");
                            $("#lblTitle").text("Failure");
                            $("#lblMessage").text(data.Message)
                            $("#section-message").modal('show');
                        }

                    }
                },
                complete: function () {

                },
                error: function (data) {
                    $("#section-confirm").modal("hide")
                    $("#modalMessage").css("background-color", "#e46457");
                    $("#lblTitle").text("Failure");
                    $("#lblMessage").text(data.Message)
                    $("#section-message").modal('show');
                }
            });

        }
        else {
            $("#section-confirm").modal("hide")
            $("#modalMessage").css("background-color", "#e46457");
            $("#lblTitle").text("Failure");
            $("#lblMessage").text("Please fill mandatory fields..")
            $("#section-message").modal('show');
        }
    }

    function getDate(id)
    {
        var leadId = id;
        var dealerCode = "00166";
        if (leadId != "0") {
            $.ajax({
                dataType: "json",
                async: true,
                type: 'GET',
                url: '@Url.Content("~/Enquiry/Select_EnquiryMaster")',
                data: { 'EnquiryId': leadId, 'DealerCode': dealerCode },
                success: function (data) {
                    debugger;
                    if (data.Success == true) {
                        var item = JSON.parse(data.Response)

                        //Lead Information
                        $("#txtLeadDate").val(item[0].EnqDate);
                        //$("#ddlLeadId").val();
                        (item[0].Interest == "New") ? $("#ddlInterest").val(1) : $("#ddlInterest").val(2)

                        $("#ddlLeadType").val(item[0].ProspectTypeID)

                        $("#txtCustCellNo").val(item[0].Mobile);
                        var IsFinanced = item[0].IsFinanced.trim();

                        $("#txtSubject").val(item[0].Remarks)

                        //Customer  and Work Details
                        $("#ddlCustomerId").val(item[0].ProspectID);
                        $("#txtCustName").val(item[0].Name);
                        $("#txtCustEmail").val(item[0].Email)
                        $("#txtCustCellNo").val(item[0].Mobile)
                        
                        //WORK INFO
                        $("#txtCompany").val(item[0].CompanyDetail)
                        $("#txtDesigntaion").val(item[0].Designation);
                        $("#txtDepartment").val(item[0].Profession);
                        var str = item[0].OffPhone;
                        var officephone = new Array();
                        officephone = str.split("x");
                        $("#txtOfficeNo").val(officephone[0].trim()) + " x " + $("#txtOfficeNoExt").val(officephone[1].trim());

                        //ProductDetail
                        Get_EnquiryDetailData(id)

                        //FollowpUp Detail
                        GetFollowUpData(id)
                    }
                },
                complete: function () {

                },
            });

        }

    }

    function Get_EnquiryDetailData(id) {
        var dealerCode = "00166";
        var leadId = id;
        if (leadId != "0") {
            $.ajax({
                dataType: "json",
                async: true,
                type: 'GET',
                url: '@Url.Content("~/Enquiry/Select_EnquiryDetail")',
                data: { 'EnquiryId': leadId, 'DealerCode': dealerCode },
                success: function (data) {
                    debugger;
                    if (data.Success == true) {
                        var item = JSON.parse(data.Response)
                        $("#productDetail tbody tr").remove()
                        //ProductDetail
                        if (item.length > 0) {
                            $.each(item, function (value, item) {
                                $("#productDetail tbody").append('<tr id="fixedRow' + (rowCount++) + '" data-tr-count="' + (dataCount++) + '">' +
                                                        '<td>' + SNo++ + '</td>' +
                                                        '<td> <label id="lblBrandCode">' + item.BrandCode.trim() + ' </label></td>' +
                                                        '<td> <label id="lblProdCode">' + item.ProdCode.trim() + ' </label></td>' +
                                                        '<td> <label id="">' + item.VersionCode.trim() + ' </label></td>' +
                                                        '<td> <label id="lblColor">' + item.ColorCode.trim() + ' </label></td>' +
                                                        '<td> <label id="lblPriority">' + item.StatusCode + ' </label></td>' +
                                                        '<td> <label id="lblQuantity">' + item.Qty + ' </label></td>' +
                                                        '<td> <label id="lblFurtherContact">' + item.FurtherContact + ' </label></td>' +
                                                        '<td> <label id="lblFurtherDate">' + item.FurtherDate + ' </label></td>' +
                                                        '</tr>');

                            });

                        }
                    }
                },
                complete: function () {

                },
            });

        }

    }

    function GetFollowUpData(Id)
    {
        var leadId = Id;
        if (leadId != "0") {
            $.ajax({
                dataType: "json",
                async: true,
                type: 'GET',
                url: '@Url.Content("~/Enquiry/Select_FollowUpDetail")',
                data: { 'EnquiryId': leadId},
                success: function (data) {
                    debugger;
                    if (data.Success == true) {
                        var item = JSON.parse(data.Response)
                        $("#followupDetail tbody tr").remove()
                        //ProductDetail
                        if (item.length > 0) {
                            $.each(item, function (value, item) {

                                $("#followupDetail tbody").append('<tr id="fixedRow' + (rowCount++) + '" data-tr-count="' + (dataCount++) + '">' +
                                                       '<td>' + SNo++ + '</td>' +
                                                       '<td> <label id="lblNextAction">' + item.NextFollowUpActionPlan.trim() + ' </label></td>' +
                                                       '<td> <label id="lblStatusType">' + item.StatusType.trim() + ' </label> <input type="hidden" id="hdnStatusId" value="' + item.StatusTypeId + '" /> </td>' +
                                                       '<td> <label id="lblNextDate">' + item.NextFollowUpDate.trim() + ' </label></td>' +
                                                       '<td> <label id="lblNextTime">' + item.NextFollowUpTime.trim() + ' </label></td>' +
                                                       '<td> <label id="lblComments">' + item.NextFollowUpPurpose.trim() + ' </label></td>' +
                                                       '<td style="text-align:center;"><button class="btn btn-danger btn-xs" onclick="removeRow(this)"><i class="fa fa-minus fa-lg"></i></button></td>' +
                                                       '</tr>');

                                if (item.StatusTypeId == 3) {
                                    $("#LostArea").show();
                                    $("#ddlLostReason").val(item.LostReasonId);
                                    $("#txtLostDate").val(item.LostDate);
                                    $("#txtLostComments").val(item.NextFollowUpPurpose);
                                    $("#btnSave").prop("disabled", true)
                                    $("#btnAddData").prop("disabled", true)
                                }
                            });
                        }
                    }
                },
                complete: function () {

                },
            });

        }
    }

</script>